<div class="app-content-body">
    <form id="loginform" class="form-horizontal" #form="ngForm">
        <div class="container m-t-2x">
            <div class="clearfix"></div>
            <div class="col-md-12 m-t-2x text-center">
                <button routerLink="/main" type="button" id="btn-main"
                        class="btn btn-lg btn-primary">Request Page
                </button>
                <button routerLink="/picture" type="button" id="btn-picture"
                        class="btn btn-lg btn-primary">Picture Page
                </button>
            </div>
        </div>
    </form>
</div>
